#pot {
    top: 10%;
    position: absolute;
    -webkit-animation: linear infinite;
    -webkit-animation-name: run;
    -webkit-animation-duration: 10s;
    }
    @-webkit-keyframes run {
    0% {
    left: 0;
    }
    48% {
    -webkit-transform: rotateY(0deg);
    }
    50% {
    left: calc(100% - 100px);
    -webkit-transform: rotateY(180deg);
    }
    98% {
    -webkit-transform: rotateY(180deg);
    }
    100% {
    left: 0;
    -webkit-transform: rotateY(0deg);
    }
    }
    p {
    font-size: 24px;
    font-weight: bold;
    }